<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Baioh</title>
  <% if (env==='production') { %>
    <link rel="stylesheet" href="<%= webpackAsset('app.css') %>">
  <% } %>
</head>
<body>
  <app></app>
  <script src="<%= webpackAsset('vendor.js') %>"></script>
  <script src="<%= webpackAsset('app.js') %>"></script>
</body>
</html>
